@charset "utf-8";
/* CSS Document */

body {
	background-color: #575757;
	color: white;
}

.fila-logo{
	height: 17%;
}

.logo{
	width: 25%;
	margin: 10px 10px;
}

.iconos{
	width: 30%;
	margin-top: 60%;
	margin-left: 0px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

li{
	font-weight: bolder;
}

.list-group-item{
	background-color: #363030;
}

.posts{
	    border-bottom: 1px solid #ddd;
}

@media screen and (max-height: 770px){
	
	.logo{
		width: 100%;
	}
	
	.iconos{
	width: 100%;
	margin-top: 80%;
	}	
	
}